@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*
.ff-manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*/

html {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.reveal-base {
    /* Valores de fallback */
    --reveal-x: 0px;
    --reveal-y: 20px;
    --reveal-duration: 0.8s;
    --reveal-delay: 0s;

    opacity: 0;
    transform: translate(var(--reveal-x), var(--reveal-y));

    /* Variáveis de tempo */
    transition:
        opacity var(--reveal-duration) ease-out var(--reveal-delay),
        transform var(--reveal-duration) cubic-bezier(0.165, 0.84, 0.44, 1) var(--reveal-delay);

    will-change: transform, opacity;
}

.reveal-active {
    opacity: 1;
    transform: translate(0, 0);
}

.position-relative {
    position: relative;
}

.effect-1:hover {
    border: solid 1px #ffc107 !important;
    background-color: #04371a;
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
}

.effect-2:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.effect-3:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-modal {
    border: none;
    border-radius: 1rem;
    padding: 0;
    width: 90%;
    max-width: 1140px;
    /* Equivalente ao modal-xl */
    background: #1a1a1a;
    /* Cor de fundo escura conforme seu tema */
    color: white;
}

.custom-modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}

.modal-content-wrapper {
    padding: 1.5rem;
}

.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.btn-close-custom {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
}

dialog[open] {
    display: block;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:deep(.swiper-button-next),
:deep(.swiper-button-prev) {
    color: #14AE5C !important;
}

:deep(.swiper-pagination-bullet-active) {
    background: #14AE5C !important;
}

.card-depoimento {
    transition: transform 0.3s ease;
}

.card-depoimento:hover {
    transform: scale(1.02);
}

.swiper-button-prev {
    color: #14AE5C !important;
}

.swiper-button-next {
    color: #14AE5C !important;
}

.preserve-break {
    white-space: pre-line;
}